
.dropdown-menu {
    width: 15rem;
    padding: 0 0.2rem 0.5rem 0.2rem;
}
.card-body{
  padding:.5rem 0;
  text-align: center;
}
.dropdown-toggle::after {
    display:none;
}
.select{
    background-color: lightsteelblue;
}
.outrange
{
    color:gray;
}